<html>

{{>Otros/Inicial}}

<style>
body {
  background-color: ivory;
  overflow-y:  scroll
}
p {
  font-family: verdana;
  font-size: 15px;
}
</style>

<head>

	<meta charset="UTF-8"/>
	
</head>

<body>

	<div align="center">
	
		<h1>CURSO</h1>	
		<p>Contenido: </p>
		<p>
		{{#archivos}}
		<br><embed src="data:application/pdf;base64,{{.}}" width="70%" height="1000px"/></p>
		{{/archivos}}
		
		
	</div>

	<div align="center">
		<br><a href="/cursosDisponibles">Volver</a><br>
	</div>
<br><br>
</body>
</html>