<html>

{{>Inicial}}

<style>
body {
  background-color: ivory;
  overflow-y:  scroll
}

p {
  font-family: verdana;
  font-size: 15px;
}

a {
  font-family: verdana;
  font-size: 15px;
}
</style>

<head>

	<meta charset="UTF-8"/>
	
</head>

<body>

	<div align="center">
	<h1>CLASES PARTICULARES</h1>
	
{{#profesor}}
	<h2>Nombre:</h2> {{nombre}}
{{/profesor}}

{{#infoAnuncio}}
	
		<h2>Materia:</h2> {{materia}}<br>
		<h2>Curso: </h2>{{curso}}<br>	
		<h2>Precio: </h2>{{precio}}<br>	
		<h2>Horario: </h2>{{horario}}<br>	
		<h2>Contenido: </h2>{{contenido}}<br>	
	
	
{{/infoAnuncio}}

</div>
<div align="center">
<br><a href="/anuncios">Volver</a><br>
<p><a href="/chat/{-profesor}">Chatea</a> con (nombreProfesor)</p>
</div>
</body>
</html>