<html>

{{>Inicial}}

<style>

body {
  background-color: ivory;
}

</style>



<head>
  <meta charset="UTF-8">
</head>


<body>

<div id="titulo">
	<p align="center" style="font-size:25px"><br><br><b>Mis cursos</b><br><br></p>
</div>

<div align="center">

	{{#cursos}}
	<!-- <ol style="list-style: none; font-size: 14px; line-height: 32px;"> -->	
	<table>
	<tr>
		<td><p>{{titulo}} </p></td>
		<td><p>{{descripcion}} </p></td>
		<td><a href="/eliminarCurso/{{id}}">Eliminar curso</a></td>
		<td><a href="/curso/{{id}}">Ver</a></td>
		<td><a href="/{{id}}/crearexamen">Crear examen</a></td>
		<td><a href="/{{id}}/examen">Resolver examen</a></td>
	</tr>
	</table>
		<!--<li><img style="float: center;" src={{.}} width="45" /> </li>-->
		
	<br>
	<!--</ol> -->
	{{/cursos}}
	
	{{^cursos}}
		<p>No hay cursos añadidos</p>
	{{/cursos}}
	
	<br>
	<a href="/crearCurso">Crear curso</a>


   	<br><br> <a href="/paginaprincipal">Pagina principal</a>
	
</div>

</body>


{{>footer}}
</html>