<html>
<head>
  <meta charset="UTF-8">
</head>
<body>

<form action="bienvenido" method="post">
  
  <p>Introduzca su correo:</p><input type='text' name='correo' placeholder="Introduzca su correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/><br>
  <p>Introduzca su contraseña:</p><input type='password' name='contrasena' placeholder="Introduzca su contraseña" aria-hidden="true" required/><br>
  <br><input type='submit' value='Iniciar sesión'/>
  
</form>

	<a href="/">Volver a la página principal</a><br>

</body>
</html>