<html>

{{>index}}

<style>
body {
  background-color: ivory;
}

p {
  font-family: verdana;
  font-size: 15px;
}
</style>

<head>
  <meta charset="UTF-8">
</head>
<body>

<div id="titulo">
	<p align="center" style="font-size:25px"><br><br><b>Formulario de registro</b><br><br></p>
</div>

<div align="center">
	<form action="bienvenido" method="post">
		<p>Introduzca el correo electrónico:</p>
		<input type='text' name='nombreUsuario' required>
		<p><br/></p>
		<p>Introduzca el nombre de usuario:</p>
		<input type='text' name='nombreUsuario' required>
		<p><br/></p>
		<p>Introduzca la password:</p>
		<input type='text' name='contraseña_1' required>
		<p><br/></p>
		<p>Repita la password:</p>
		<input type='text' name='contraseña_2' required>
		<p><br/></p>
		<p>Indique el tipo de usuario:</p>
		<p>Usuario estándar
		<input type='checkbox' name='usuarioEstandar' value='valorOpcion_1'>
		</p>
		<p>
		Usuario premium
		<input type='checkbox' name='usuarioPremium' value='valorOpcion_2'>
		</p>
		<p><br/></p>
		<input type='submit' value='Registrarme'/>
	</form>
</div>

</body>
</html>