<html>

{{>Inicial}}

<style>
body {
  background-color: ivory;
  overflow-y:  scroll
}

p {
  font-family: verdana;
  font-size: 15px;
}

a {
  font-family: verdana;
  font-size: 15px;
}
</style>

<body>

	<div id="titulo">
		<p align="center" style="font-size:25px"><br><br><b>Foros</b><br><br></p>
	</div>

	<div align="center">
		{{#foros}}
		<a href="foros/{{-index}}">{{title}}</a><br><br>
		{{/foros}}

		{{^foros}}
		<p>No hay foros disponibles.</p>
		{{/foros}}

		<br>
		<a href="/foros/nuevoforo">Crear foro</a>
	    
   </div>
   
   	<div align="center">
   
    <br>
    <a href="/paginaprincipal">Pagina principal</a>
	
	</div>
	
</body>
{{>footer}}
</html>


