<html>

{{>Inicial}}

<style>
body {
  background-color: ivory;
  overflow-y:  scroll
}
p {
  font-family: verdana;
  font-size: 15px;
}
</style>
<body>

	<div align="center">	  

		{{#infoForo}}
			<h1>{{Asunto}}</h1>
		{{/infoForo}}
	
		{{#infoForo}}
			<p>{{Cuerpo}}</p>
		{{/infoForo}}
	
	
		{{#infoForo.mensajes}}
   	 		<br><b>{{emisor.nombre}}:&nbsp;</b>{{CuerpoMensaje}}
    	{{/infoForo.mensajes}}
	
	
		{{#infoForo}}
			<form action="/foros/{{IDForo}}/respuesta" method="post">	
	
				<p>Responder:</p>
				<textarea name='respuesta' rows=5 cols=40></textarea>
				<input type='submit' value='Enviar'/>
			
			</form>
		{{/infoForo}}
	
	<a href="/foros">VOLVER</a>
	
	</div>
	 
</body>
{{>footer}}
</html>


