<html>

{{>Inicial}}

<style>
body {
  background-color: ivory;
  overflow-y:  scroll
}

p {
  font-family: verdana;
  font-size: 15px;
}

a {
  font-family: verdana;
  font-size: 15px;
}
</style>

<head>

	<meta charset="UTF-8"/>
	
</head>

<body>

	<div align="center">
	
		<h1>CURSO</h1>	
		<p>Este es el curso {{index}}</p>
		<p>
		{{#archivos}}
		<br><embed src="data:application/pdf;base64,{{.}}" width="70%" height="1000px"/></p>
		{{/archivos}}
		<iframe width=»640″ height=»360″ src=»//www.youtube.com/embed/RAGnHADKIIM?rel=0&showinfo=0&controls=1&autoplay=1&start=120» frameborder=»0″ allowfullscreen></iframe>
		
	</div>

	<div align="center">
		<br><a href="/cursosDisponibles">Volver</a><br>
	</div>

</body>
</html>