<html>

<style>
body {
  background-color: ivory;
}


p {
  font-family: verdana;
  font-size: 15px;
}

table
{
border-collapse: collapse;
width: 600px
}


td
{
border: 1px solid black;
text-align: center;
}


</style>

<head>
  <meta charset="UTF-8">
</head>

<body>
<div align="center">
<br>
<table>
<tr>
	<td><a href="/login">Login</a></td>
    <td><a href="/newuser">Registrarse</a><br></td>
	<td><a href="/paginaprincipal">Continuar sin registrarse</a><br></td>
</tr>
</table>
<br>
<hr>
</div>
</body>


</html>