<html>

<style>

	.contenedorExterior {
    vertical-align: middle;
    display: table;
    width: 300px; /* anchura del padre */
    height: 400px; /* altura del padre */
    overflow: hidden;
	}
	.contenedorExterior .contenedorInterior {
    display: table-cell;
    vertical-align: middle;
    width: 150%;
    margin: 0 auto;
    text-align: center;
     background: #C1EEEA;
	}

</style>

<head>

  <meta charset="UTF-8">
  
</head>

<body>

<br><br><br><br><br>

	<div align="center">
		<div class="contenedorExterior">
    		<div class="contenedorInterior">
   
				<h1>SAPIOTHECA</h1>

				<hr>
				<a href="cursosDisponibles">Cursos</a><br>					<hr>
				<br>
	
				<a href="foros">Foros</a><br>
				<hr>
                <br>
	
				<a href="anuncios">Tablón de anuncios</a><br>
				<hr>
                <br>

				{{#hayUsuario}}
					<a href="/profile">Mi perfil</a><br>
				{{/hayUsuario}}
				<hr>
                <br>
                
				</p><br>
	
	   		</div>
		</div>
	</div>
	<br>
<br>	
</body>
</html>