
<html>
{{>Inicial}}

<style>
body {
  background-color: ivory;
  overflow-y:  scroll
}
p {
  font-family: verdana;
  font-size: 15px;
}
</style>

<div align="center">

    <br><br>
    <p>Exámen de evaluación: {{curso}}</p>	
    
    	<form method="post" action="/{{id}}/examen/completado">
			{{#preguntas}}
				<p> Pregunta {{-index}}</p>
        		<p> {{enunciado}} </p>
        	
        		<input name="resp{{-index}}" type="text" id="resp{{-index}}" size="50" />
			{{/preguntas}}
	
  	    	<br><br>
    		<button type="submit">Finalizar</button>
    	</form>
<br>
<br>	
</div>

{{>footer}}
</html>