<html>
{{>Inicial}}

<style>
body {
  background-color: ivory;
  overflow-y:  scroll
}
p {
  font-family: verdana;
  font-size: 15px;
}
</style>

<head>

  <meta charset="UTF-8">
  
</head>

<body>

<div id="titulo">

	<p align="center" style="font-size:25px"> 
	<b>Formulario de registro</p>
	
</div>


<div align="center">

	<form action="/bienvenido" method="post" enctype="multipart/form-data">
	
    	<br><p><br>Sube un material:</p><input type='file' name='material' accept=".jpg, .jpeg, .png">
     
	</form>
	
<br>
<br>	

</body>



{{>footer}}
</html>
